# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\IT\weatger-app\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
